# History files
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
*.Rproj
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
.Renviron
.Rproj.user/
Documentación_files/
.DS_Store
*.zip

# folders
figures/

# latex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.mtc*
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.toc
*.bbl
*.blg
*.hd
*.nav
*.snm
*.pdf 